<% include head %>
<link rel="stylesheet" href="stylesheets/main.css">

</head>

<% include header %>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <!--Main Navigation-->
            <a href="#courses" class="mdl-layout__tab  is-active">Courses</a>
            <a href="#professors" class="mdl-layout__tab ">Professors</a>
            <a href="#myCourses" class="mdl-layout__tab ">My courses</a>

            <!-- End of main navigation-->

        </div>
    </header>
