<% include header-container %>

<!-- The includes are for the course/professor Dialogs-->
<% include ../course/CourseProfileDetails.ejs %>
<% include ../professor/ProfessorProfile.ejs %>

<main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="courses">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing CourseCardHolder">
            <script>
                function myVal(datum) {
                    console.log(JSON.stringify(datum));
                }
                //////==============================================================================
                $('input.typeahead').bind('typeahead:selected', function (obj, datum, name) {
                    // alert(JSON.stringify(obj)); // object
                    // outputs, e.g., {"type":"typeahead:selected","timeStamp":1371822938628,"jQuery19105037956037711017":true,"isTrigger":true,"namespace":"","namespace_re":null,"target":{"jQuery19105037956037711017":46},"delegateTarget":{"jQuery19105037956037711017":46},"currentTarget":
                    // alert(JSON.stringify(datum)); // contains datum value, tokens and custom fields
                    // outputs, e.g., {"redirect_url":"http://localhost/test/topic/test_topic","image_url":"http://localhost/test/upload/images/t_FWnYhhqd.jpg","description":"A test description","value":"A test value","tokens":["A","test","value"]}
                    // in this case I created custom fields called 'redirect_url', 'image_url', 'description'
                    // alert(JSON.stringify(name)); // contains dataset name
                    // outputs, e.g., "my_dataset"


                    //TODO: to fix
                    var $div = $('<div/>', {
                        class: 'CourseCard'
                    });
                    $div.append('courses');
                    //insert after input
                    $('.tt-dataset-courses').addClass('CourseCard');
                    attachListeners();
                });


                //                // socket connection
                var socket = io();
                //                socket.on('connect', function () {
                //                    socket.emit('clientMessage', 'client message');
                //                });

                socket.on('courseDetails', function (data) {
                    var arr = Object.keys(data).map(function (k) {
                        return data[k]
                    });
                    console.log(arr.length);
                });

                socket.on('courseDetails', function (data) {
                    var arr = Object.keys(data).map(function (k) {
                        return data[k]
                    });

                    console.log(arr[3][1]);
                    for (i = 0; i < arr[0].length; i++) {
                        var containingDiv = document.getElementsByClassName("CourseCardHolder")[0];
                        var span = document.createElement("div");
                        span.className = "tab";
                        containingDiv.appendChild(span);
                        var outercard = document.createElement("div");
                        outercard.className = "demo-card-square mdl-card mdl-shadow--2dp HomeCards";
                        containingDiv.appendChild(outercard);
                        var cardHeader = document.createElement("div");
                        cardHeader.className = "mdl-card__title mdl-card--expand";
                        outercard.appendChild(cardHeader);
                        var title = document.createElement("h2");
                        title.className = "mdl-card__title-text CourseCardName";
                        title.innerHTML = arr[2][i] + " " + arr[0][i];
                        cardHeader.appendChild(title);
                        var cardDescription = document.createElement("div");
                        cardDescription.className = "mdl-card__supporting-text";
                        cardDescription.innerHTML = arr[1][i] + " - " + arr[3][i] + " cr";
                        outercard.appendChild(cardDescription);
                        var cardAction = document.createElement("div");
                        cardAction.className = "mdl-card__actions mdl-card--border";
                        outercard.appendChild(cardAction);
                        var cardButton = document.createElement("div");
                        cardButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons CourseCard";
                        cardButton.innerHTML = "View";
                        cardAction.appendChild(cardButton);
                    }
                });
            </script>

        </section>

    </div>


    <div class="mdl-layout__tab-panel" id="professors">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing ProfessorCardHolder">

            <script>
                socket.on('professors', function (data) {
                    var arr = Object.keys(data).map(function (k) {
                        return data[k]
                    });

                    //This is the script to dynamically create the cards.
                    for (var i = 0; i < arr[0].length; i++) {
                        var containingDiv = document.getElementsByClassName("ProfessorCardHolder")[0];
                        var span = document.createElement("div");
                        span.className = "tab";
                        containingDiv.appendChild(span);
                        var outercard = document.createElement("div");
                        outercard.className = "demo-card-square mdl-card mdl-shadow--2dp HomeCards";
                        containingDiv.appendChild(outercard);
                        var cardHeader = document.createElement("div");
                        cardHeader.className = "mdl-card__title mdl-card--expand";
                        outercard.appendChild(cardHeader);
                        var title = document.createElement("h2");
                        title.className = "mdl-card__title-text";
                        title.innerHTML = arr[0][i] + " " + arr[1][i];
                        cardHeader.appendChild(title);
                        var cardDescription = document.createElement("div");
                        cardDescription.className = "mdl-card__supporting-text";
                        cardDescription.innerHTML = "Faculty of Arts and sciences.";
                        outercard.appendChild(cardDescription);
                        var cardAction = document.createElement("div");
                        cardAction.className = "mdl-card__actions mdl-card--border";
                        outercard.appendChild(cardAction);
                        var cardButton = document.createElement("div");
                        cardButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons ProfessorCard";
                        cardButton.innerHTML = "View";
                        cardAction.appendChild(cardButton);
                    }
                });
            </script>
        </section>
    </div>
    <div class="mdl-layout__tab-panel" id="myCourses">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing MyCoursesHolder" id="innerMyCourses">

            <div id="registrationRules">
                <h5 id="WarningMessage" style="color:red ;display: none"></h5>
                <h5>
                    Type in the AUB-assigned CRN for the course you are currently taking, then click the 'ADD COURSE'
                    button to add it. You may only add up to 6 courses, or the equivalent of 19 credits. A List of the
                    available CRNs is not provided to reduce the amount of dishonest reviews.
                </h5>

            </div>
            <div id="MyCourseSection">


                <div class="demo-card-square mdl-card mdl-shadow--2dp  HomeCards">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text"><i class="large material-icons">add</i></h2>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="CRNinput">
                                <label class="mdl-textfield__label" for="CRN">Enter CRN</label>
                            </div>
                        </form>
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons"
                                id="addCourseBtn">
                            <a href="/">Add Course</a>
                        </button>
                    </div>
                </div>


                <script>




//                    var counter = 0;
//                    var MyCourses = ['CMPS 200', 'CMPS 251', 'CMPS 255', 'CMPS 257', 'CMPS 272', 'CMPS 278', 'CMPS 284', 'CMPS 287', 'CMPS 299', 'CMPS 205', 'CMPS 253'];
//                    var CRNs = ['11107', '11154', '11155', '11161', '11162', '11164', '11166', '11167', '11168', '11385', '21129'];
//                    var CurrentCourses = [];

                    var inputCRN = document.getElementById("CRNinput");
                    //TODO: implement snackbar
                    var WarningMessage = document.getElementById("WarningMessage");
                    document.getElementById("addCourseBtn").onclick = function () {

                        socket.emit('checkcrn', inputCRN.value);
                        socket.on('checkcrn', function (data) {
                            console.log(data);
                        });
                    };







//                        if (inputCRN.value) {
//                            if (CheckIfRegistered(inputCRN.value) && CheckIfIsACourse(inputCRN.value)) {
//                                socket.emit('clientMessage', inputCRN.value);
//                                AddCourse(inputCRN.value);
//
//                            }
//                            else {
//                                WarningMessage.style.display = "block";
//                                WarningMessage.innerHTML = "The course you have chosen is either already in your list or is not a course at all.";
//                            }
//                        }
//                        else {
//                            WarningMessage.style.display = "block";
//                            WarningMessage.innerHTML = "Please enter a CRN for the course you want to add.";
//                        }
//                    };


//                    function CheckIfIsACourse(crn) {
//                        for (var i = 0; i < CRNs.length; i++) {
//                            if (CRNs[i] == crn) {
//                                return true;
//                            }
//                        }
//                        return false;
//                    }
//
//                    function CheckIfRegistered(crn) {
//                        if (CurrentCourses.length == 0) {
//                            return true;
//                        }
//                        for (var i = 0; i < CurrentCourses.length; i++) {
//                            if (CurrentCourses[i] == crn) {
//                                return false;
//                            }
//                        }
//                        return true;
//                    }


                    function AddCourse(crn) {
                        counter = document.getElementsByClassName("MyCurrentCourses").length;
                        var containingDiv = document.getElementById("MyCourseSection");
                        var span = document.createElement("div");
                        span.className = "tab";

                        var outercard = document.createElement("div");
                        outercard.className = "demo-card-square mdl-card mdl-shadow--2dp HomeCards MyCurrentCourses";

                        var cardHeader = document.createElement("div");
                        cardHeader.className = "mdl-card__title mdl-card--expand";

                        var title = document.createElement("h2");
                        title.className = "mdl-card__title-text CourseCardName";


                        //TODO: send CRN from server to client
                        title.innerHTML = MyCourses[CRNs.indexOf(crn)];

                        var cardDescription = document.createElement("div");
                        cardDescription.className = "mdl-card__supporting-text";
                        cardDescription.innerHTML = "Software Engineering - 3Cr";

                        var cardAction = document.createElement("div");
                        cardAction.className = "mdl-card__actions mdl-card--border";

                        var cardButton = document.createElement("div");
                        cardButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons ProfessorCard";
                        cardButton.innerHTML = "View";


                        //TODO: link to ceia
                        var cardRateButton = document.createElement("a");
                        cardRateButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons goToCeia ";
                        cardRateButton.innerHTML = "Rate";
                        cardRateButton.href = "/ceia";

                        var cardDeleteButton = document.createElement("div");
                        cardDeleteButton.className = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect MyNavButtons CourseDelBtn";
                        cardDeleteButton.innerHTML = "Delete";


                        if (counter < 6) {
                            containingDiv.appendChild(span);
                            containingDiv.appendChild(outercard);
                            outercard.appendChild(cardHeader);
                            cardHeader.appendChild(title);
                            outercard.appendChild(cardDescription);
                            outercard.appendChild(cardAction);
                            cardAction.appendChild(cardButton);
                            cardAction.appendChild(cardRateButton);
                            // cardRateButton.appendChild(cardRateButtonLink);
                            cardAction.appendChild(cardDeleteButton);
                            CurrentCourses.push(crn);
                            WarningMessage.style.display = "none";
                            attachListeners();
                            attachDelHandlers();
                        }
                        else {
                            WarningMessage.style.display = "block";
                            WarningMessage.innerHTML = "you exceeded the number of credits you are allowed to register";
                        }
                    }


                    // attach each card to a dialog
                    function attachListeners() {
                        var dialogCourseProfile = document.getElementById("CourseProfile");
                        var CourseProfilebutton = document.getElementsByClassName("CourseCard");

                        for (var i = 0; i < CourseProfilebutton.length; i++) {

                            if (!dialogCourseProfile.showModal) {
                                dialogPolyfill.registerDialog(dialogCourseProfile);
                            }
                            CourseProfilebutton[i].addEventListener('click', function () {

                                dialogCourseProfile.showModal();
                            });
                            dialogCourseProfile.querySelector('.close').addEventListener('click', function () {
                                dialogCourseProfile.close();
                            });
                        }
                    }

                    //delete button functionality
                    function attachDelHandlers() {
                        var delButtons = document.getElementsByClassName("CourseDelBtn");
                        for (var i = 0; i < delButtons.length; i++) {
                            delButtons[i].addEventListener('click', DeleteCourse);
                        }

                        //var CourseDelBtn = document.getE
                    }



                    //TODO: implement server side
                    function DeleteCourse() {
                        var ElementToRemove = this.parentElement.parentElement;
                        var index = MyCourses.indexOf(ElementToRemove.getElementsByClassName("mdl-card__title-text")[0].innerHTML);
                        var courseCRN = CRNs[index];
                        var indexCRN = CurrentCourses.indexOf(courseCRN);
                        if (indexCRN > -1) {
                            CurrentCourses.splice(indexCRN, 1);
                        }
                        ElementToRemove.parentElement.removeChild(ElementToRemove);
                        //The code on client side is now ready. We only need queries.
                    }


                </script>

        </section>

    </div>

</main>