<% include header-container %>
<main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="courses">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing">


        </section>
    </div>

    <div class="mdl-layout__tab-panel" id="professors">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing">

        </section>

    </div>
    <div class="mdl-layout__tab-panel" id="myCourses">
        <section class="mdl-layout mdl-grid mdl-grid--no-spacing" id="innerMyCourses">
        </section>
    </div>

</main>