a{
    color: #222222;
    text-decoration: none;
}

.MyNavButtons {
    height: inherit !important;
}

.CourseCardHolder{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding-left:5%;
    padding-right: 5%;
}

.HomeCards{
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 10px;
}

#MyCoursesMessage{
    width: 500px;
    float:right;
}

#MyCourseSection{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding-left:5%;
    padding-right: 5%;
}

#registrationRules{
    width: 700px;
    margin-right: auto;
    margin-left: auto;

}

#innerCourses{
    flex-flow: row wrap;
}
#innerProfessors{
    flex-flow: row wrap;
    margin-left: 1%;
    margin-right: 1%;
}
#innerMyCourses{
    display: block;
}
